{% extends 'app/layout.html' %}
{% load static %}

{% block body %}
<a href="{% url 'logout' %}">Log out</a>
<div class="container">
    <div class="tabs">
        <button id="notes-tab" class="tab-button active btn btn-secondary">Notes</button>
        <button id="audio-tab" class="tab-button btn btn-secondary">🎤</button>
    </div>
    <button id="new_note" class="btn btn-primary">+</button>

    <div id="notes-content" class="content-area hidden">
        {% for note in notes %}
        <div class="note card mb-3 position-relative">
            <div class="card-body">
                <a href="{% url 'createdit_note' note.id 'index' %}" class="card-text">{{ note.preview }}</a>
                <a href="{% url 'delete_note' note.id 'index' %}" class="btn btn-danger btn-sm position-absolute" style="top: 10px; right: 10px;">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <div id="audio-content" class="content-area hidden">
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'app/index.js' %}"></script>
{% endblock %}