body {
    background-color: #f8f9fa;
    color: #000;
}

.card {
    background-color: transparent;
    border: 0px solid #ddd;
    color: #000;
}

.form-control {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}

.form-control::placeholder {
    color: #666;
}

.btn-primary {
    background-color: #000;
    border: none;
    color: #fff;
}

.btn-primary:hover {
    background-color: #333;
    transition: 0.33s;
}

h2 {
    color: #000;
}

a {
    color: #000;
}

a:hover {
    color: #666;
}

.form-group {
    margin-bottom: 1rem;
}

.d-flex.justify-content-center.align-items-center.vh-100 {
    background-color: #f8f9fa;
}

#editor {
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    height: 100vh;
}

.row {
display: flex;
}

.column {
flex: 50%;
}

@media screen and (max-width: 1000px) {
    .column {
      width: 100%;
    }
}

.entry-box {
    background-color: #f9f9f9; 
    border: 1px solid black; 
    border-radius: 5px;  
    padding: 10px;  
    margin-bottom: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

.note-entry {
    cursor: pointer; 
}

.note-entry:hover {
    background-color: #e9ecef; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
}

.tag-entry {
    display: flex;
    align-items: center;  
    cursor: pointer;  
}

.tag-entry:hover {
    background-color: #e9ecef; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


.tag-entry-text {
    flex-grow: 1; 
    font-weight: bold;
}


.tag-entry-notes {
    background-color: #5cb85c;  
    color: white; 
    border: none;  
    border-radius: 3px;  
    padding: 5px 10px; 
    cursor: pointer;  
}

.tag-entry-notes:hover {
    background-color: #4cae4c; 
}